.h1 {
  font-size: var(--typography-h1-font-size);
  font-weight: var(--typography-h1-font-weight);
  line-height: var(--typography-h1-line-height);
  letter-spacing: var(--typography-h1-letter-spacing);
  font-family: var(--typography-h1-font-family);
}

.h2 {
  font-size: var(--typography-h2-font-size);
  font-weight: var(--typography-h2-font-weight);
  line-height: var(--typography-h2-line-height);
  letter-spacing: var(--typography-h2-letter-spacing);
  font-family: var(--typography-h2-font-family);
}

.h3 {
  font-size: var(--typography-h3-font-size);
  font-weight: var(--typography-h3-font-weight);
  line-height: var(--typography-h3-line-height);
  letter-spacing: var(--typography-h3-letter-spacing);
  font-family: var(--typography-h3-font-family);
}

.default-strong {
  font-size: var(--typography-default-strong-font-size);
  font-weight: var(--typography-default-strong-font-weight);
  line-height: var(--typography-default-strong-line-height);
  letter-spacing: var(--typography-default-strong-letter-spacing);
  font-family: var(--typography-default-strong-font-family);
}

.default-regular {
  font-size: var(--typography-default-regular-font-size);
  font-weight: var(--typography-default-regular-font-weight);
  line-height: var(--typography-default-regular-line-height);
  letter-spacing: var(--typography-default-regular-letter-spacing);
  font-family: var(--typography-default-regular-font-family);
}

.medium-strong {
  font-size: var(--typography-medium-strong-font-size);
  font-weight: var(--typography-medium-strong-font-weight);
  line-height: var(--typography-medium-strong-line-height);
  letter-spacing: var(--typography-medium-strong-letter-spacing);
  font-family: var(--typography-medium-strong-font-family);
}

.small-strong {
  font-size: var(--typography-small-strong-font-size);
  font-weight: var(--typography-small-strong-font-weight);
  line-height: var(--typography-small-strong-line-height);
  letter-spacing: var(--typography-small-strong-letter-spacing);
  font-family: var(--typography-small-strong-font-family);
}

.label-default {
  font-size: var(--typography-label-default-font-size);
  font-weight: var(--typography-label-default-font-weight);
  line-height: var(--typography-label-default-line-height);
  letter-spacing: var(--typography-label-default-letter-spacing);
  font-family: var(--typography-label-default-font-family);
}

.label-default {
  font-size: var(--typography-label-small-font-size);
  font-weight: var(--typography-label-small-font-weight);
  line-height: var(--typography-label-smal-line-height);
  letter-spacing: var(--typography-label-small-letter-spacing);
  font-family: var(--typography-label-small-font-family);
}

.tab-active {
  font-size: var(--typography-tab-active-font-size);
  font-weight: var(--typography-tab-active-font-weight);
  line-height: var(--typography-tab-active-line-height);
  letter-spacing: var(--typography-tab-active-letter-spacing);
  font-family: var(--typography-tab-active-font-family);
}

.tab-inactive {
  font-size: var(--typography-tab-inctive-font-size);
  font-weight: var(--typography-tab-inactive-font-weight);
  line-height: var(--typography-tab-inactive-line-height);
  letter-spacing: var(--typography-tab-inactive-letter-spacing);
  font-family: var(--typography-tab-inactive-font-family);
}

.tab {
  font-size: var(--typography-tab-font-size);
  font-weight: var(--typography-tab-font-weight);
  line-height: var(--typography-tab-line-height);
  letter-spacing: var(--typography-tab-letter-spacing);
  font-family: var(--typography-tab-font-family);
}
